body {
    margin: 0;
    background-color: rgb(206, 236, 240);
}

h1 {
    font-size: 1.3rem;
    font-family: 'Montserrat'
}

header {
    text-align: center;
    padding: 5px;
}

svg {
    background-image: url(/Images/citybg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#jeu {
    display: flex;
    justify-content: center;
}

#terrain {
    opacity: .3;
}


#joueur {
    pointer-events: none;
}